
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'outfit';
}

.container{
  width: 80%;
  height: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: hsl(212, 45%, 89%);
}

 .container .card{
 width: 280px;
 height: auto;
 background-color: hsl(0, 0%, 100%); 
 border-radius: 10px;
 
}

.card img{
  width: 230px;
  height: 230px;
  border-radius: 10px;
  margin: 25px 25px 0 25px;
}

.content{
 margin-top: 0;
 padding: 25px;
 
 
}

.content h3{
  margin-bottom: 5px;
  color: hsl(218, 44%, 22%)
}

.content p{
  font-size: 15px;
  color: hsl(220, 14%, 55%);
}

p{
  color: white;
}
a{ 
  font-weight: bold;
  cursor: pointer;
}
 @media(max-width: 1140px){
  .container{
   width: 80%;

  }
}
@media(max-width:375px){

  .container{
    width: 80%;
    height: auto;
  }
  .container .card{
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card img{
  width: 80%;
  height: 80%;
  margin: 8px 25px;
}

 .content{
  width: 80%;
  height: 80%;
  margin: 10px 25px;
 }
 .content h3{
  font-size: 14px;
  text-align: center;
 }

 .content p{
  font-size: 13px;
 }

 p, a{
  padding-left: 8px;
  font-size: 8px;
 }
}